<?xml version="1.0"?>
<launch>

    <node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService"/>
    <node name="menage_ontology" pkg="exprob_ass2" type="menage_ontology.py" respawn="false"/>        
    <node name="go_to_point" pkg="motion_plan" type="go_to_point_action.py" respawn="false"/>
            
</launch>
